#container {
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  background-color: #0d1117;
  color: white;
}

#container div {
  background-color: grey;
}

#container div:hover {
  background-color: darkgray;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

#clearGrid{
  margin-top: 85px;
  background-color:#4b4453;
}
#gridSize {
    margin-top: 85px; 
    background-color: #4e8397;
}
h1{
  margin-bottom: 50px;
  background-color: #4b4453;
  color: #b0a8b9;
}